form > * {display:block;}
.post{padding:4px !important;}
.m-title{background-color:#007bff; color:white; padding:10px; border-radius:3px;}
.post-title{background-color:#343a40;padding:15px; border-radius:5px;}
.post-body{padding:40px 30px; margin:10px;border-radius:3px; background-color:lightgrey;}
.f-r{float:right;}.post-ds{display:inline-block; padding:5px; margin:5px;border-radius:3px; background-color:lightgrey;}
.text-light{color:#f7f7f9;}