<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar bg-light sticky-top border-bottom py-0">
            <a class="navbar-brand ml-4 text-info " href="#"><h3 class="mt-3">AnonBlog</h3></a>
            <div class="float-right"><a class="nav-link mt-1 mr-5 float-right text-center bg-secondary rounded text-light" href="{% url 'posts:create' %}">Home</a></div>
        </nav>
        <div class="wrapper container mt-4 ">
            {% block content %}


            {% endblock %}
        </div>
    </body>
</html>