{% extends 'base_layout.html' %}

{% block content %}

        <h1 class="m-title">This is the post by You</h1>


        <div class="post jumbotron">
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    <h4>Your edit link </h4>
                    {% for message in messages %}
                        <div><h2>{% if "login" in messages.tags %} class="{{ message.tags }}"{% endif %} {{ message }}</h2></div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="post-title">
                <a class="text-light" href="{% url 'posts:post' id=post.id  %}"><h2 class="text-center text-light gray">{{ post.title }}</h2></a>
            </div>
            <div class="post-body"><p> {{ post.body }} </p></div>
            <p class="text-right f-r post-ds"> {{ post.date }} </p>
            <p class="post-ds">Post Number : <strong> {{ post.id }} </strong></p>

            <!--<a href="{% url 'posts:edit' id=post.id skey=post.skey %}">http://127.0.0.1:8000/posts/{{post.id}}/edit/{{post.skey}}</a>-->
        </div>

{% endblock %}