{% extends 'base_layout.html' %}

{% block content %}

        <h2 class="bg-primary p-4 rounded text-light">This is the post by You</h2>

        <div class="post jumbotron rounded p-4">
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    <h4>Your edit link </h4>
                    {% for message in messages %}
                        <div><h2>{% if "login" in messages.tags %} class="{{ message.tags }}"{% endif %} {{ message }}</h2></div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="post-title">
                <a class="text-light" href="{% url 'posts:post' id=post.id  %}">
                    <h2 class="bg-dark text-center mt-0 p-3 text-light rounded">{{ post.title }}</h2>
                </a>
            </div>
            <div class="bg-light p-3 ml-4 mr-4 rounded mb-3"><p> {{ post.body | linebreaks }} </p></div>
            <div class="pb-5">
                <span class="mt-0 rounded bg-info text-light p-2 float-left">Post Number : <strong> {{ post.id }} </strong></span>
                <span class="mt-0 rounded bg-info text-light p-2 float-right "><strong> {{ post.date }} </strong></span>
            </div>
        </div>

{% endblock %}